[run]
include = */app/*
omit = 
    *__init__*
    */app/routers/*
    */app/config/*
    */app/main.py

[report]
exclude_lines =
    raise NotImplementedError

omit = 
    *__init__*
    */app/routers/*
    */app/config/*